@font-face {
	font-family: 'FontAwesome';
	src: url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
* {
	box-sizing: border-box;
}
html {
	overflow-y: scroll;
}

/* CSS for text on upper tight side of page */
.accommodations-text {
	display: flex;
	flex-flow: row-reverse wrap;
	top: 1px;
	right: 16px;
	font-size: 18px;
	color: #0065fc;
	font-family: 'Raleway';
	float: right;
}
.activities-text {
	display: flex;
	flex-flow: row-reverse wrap;
	top: 1px;
	right: 16px;
	font-size: 18px;
	color: black;
	font-family: 'Raleway';
	float: right;
}
.sign-up-text {
	display: flex;
	flex-flow: row-reverse wrap;
	right: 16px;
	top: 1px;
	font-size: 18px;
	color: #0065fc;
	float: right;
	font-family: 'Raleway';
}

/* CSS for reservia image */
.image-size {
	display: flex;
	justify-content: flex;
	width: 10%;
}

/* CSS for dream vacation text */
.dream-vacation-text {
	margin-top: 20px;
	display: flex;
	flex-flow: row-reverse wrap;
	top: 1px;
	font-size: 18px;
	color: black;
	float: left;
	font-family: 'Raleway';
	font-weight: bold;
	flex-wrap: wrap;
	line-height: 20%;
}
/* CSS for nature text */
.nature-text {
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;
	top: 1px;
	font-size: 12px;
	color: grey;
	font-weight: bold;
	float: left;
	font-family: 'Raleway';
	flex-direction: column-reverse;
}

/* Flexbox colum for upper right of web page (before accommodations) */
.top-right-text-section {
	display: inline-flex;
	flex-direction: column;
}

/* Flexbox colum for search box section */
.search-bar {
	display: flex;
	flex-direction: row;
}

/* CSS for location icon */
.loc {
	display: flex;
	position: relative;
	left: 35px;
	top: 15px;
}

/* CSS for the france search box */
input[type="text"] {
	display: flex;
	height: 40px;
	padding-right: 50px;
	border-radius: 30px;
	font-family: 'Raleway';
	background: -webkit-linear-gradient(180deg, white 80%, #f2f2f2 33%);
	text-align: center;
	font-weight: bold;
}

/* CSS for the submit button */
input[type="submit"] {
	display: flex;
	position: absolute;
	margin-left: 200px;
	height: 40px;
	width: 70px;
	background: #0065fc;
	color: white;
	font-family: 'Raleway';
	border-radius: 0 30px 30px 0;
}

/* Flexbox column for search box section */
.filters-section {
	display: flex;
	flex-direction: row;
}

/* CSS for filters text*/
.filters-text {
	display: flex;
	position: relative;
	line-height: 300%;
	left: 0px;
	font-family: 'Raleway';
	font-weight: bold;
}

/* CSS for low-cost filter*/
.low-cost-filter {
	right: 0px;
}
.low-cost-icon {
	position: relative;
	left: 50px;
	background: #deebff;
	width: .5px;
	color: #0065fc;
	height: .5px;
	border-radius: 50%;
	padding: 20px;
}
#low-cost-box-border {
	position: relative;
	left: 50px;
	border-radius: 25px;
	border: 2px solid gray;
	padding: 20px;
	width: 125px;
	height: .5;
}
#low-cost-text {
	position: relative;
	left: 100px;
	border-radius: 25px;
}

/* Media queries*/
body {
	background-color: white;
}

@media screen and (max-width: 992px) {
	body {
		background-color: blue;
	}
}

@media screen and (max-width: 600px) {
	body {
		background-color: olive;
	}
}
