@font-face {
	font-family: 'FontAwesome';
	src: url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
* {
	box-sizing: border-box;
}
body {
	font-family: 'Raleway';
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.icon {
	position: absolute;
	top: 8px;
	left: 0px;
	font-size: 4px;
	width: 12%;
}

.topright {
	position: absolute;
	top: 8px;
	right: 16px;
	font-size: 18px;
	color: #0065fc;
}

.left {
	position: absolute;
	line-height: 1500%;
	left: 0px;
	font-family: 'Raleway';
	font-weight: bold;
}

.left2 {
	position: absolute;
	line-height: 1750%;
	left: 0px;
	font-family: 'Raleway';
}
.input-container {
	position: absolute;
	line-height: 3000%;
	left: 0px;
	font-family: 'Raleway';
}
input[type="text"] {
	left: 0px;
	top: 200px;
	position: absolute;
	width: 250px;
	height: 40px;
	padding-right: 50px;
	border-radius: 30px;
	font-family: 'Raleway';
}

input[type="submit"] {
	left: 0px;
	top: 200px;
	position: absolute;
	margin-left: 200px;
	height: 40px;
	width: 70px;
	background: #0065fc;
	color: white;
	border-left: 0;
	font-family: 'Raleway';
	border-radius: 0 30px 30px 0;
}
