@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
* {
	box-sizing: border-box;
}
body {
	font-family: 'Raleway';
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.icon {
	position: absolute;
	top: 8px;
	left: 0px;
	font-size: 4px;
	width: 12%;
}

.topright {
	position: absolute;
	top: 8px;
	right: 16px;
	font-size: 18px;
	color: #0065fc;
}

.left {
	position: absolute;
	line-height: 1500%;
	left: 0px;
	font-family: 'Raleway';
	font-weight: bold;
}

.left2 {
	position: absolute;
	line-height: 1750%;
	left: 0px;
	font-family: 'Raleway';
}
